*.vlt*
*/target

*.cssmin.css
*/.sass-cache

ui.apps/bower_components
ui.apps/node
ui.apps/node_modules

.settings
*/.settings
core/bin/pom.xml

core/bin/target/classes/META-INF/MANIFEST.MF
core/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
core/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
core/bin/target/scr-plugin-generated/OSGI-INF/scr-plugin/scrinfo.xml
core/bin/target/scr-plugin-generated/OSGI-INF/serviceComponents.xml

ui.apps.clientlibs/www-root/

ui.apps/bin
ui.apps/bin/*
core/bin/*
core/bin
*.classpath

#Intellij
.idea/
*.iml

ui.apps/node_modules/
ui.apps/node/

node_modules
*.brackets.json
/target/
package-lock.json
www-root
