---
title: Index Page
type: page
layout: base
description: This works as Site Map for Static HTML Files
sortOrder: 0
---
<style type="text/css">
    .sitemap.container {
        min-height: 500px;
        padding: 0 25px;
    }

    .sitemap h3 {
        margin: 20px 0;
        text-align: center;
    }

    .sitemap ol {
        padding: 0 30px;
    }
    .sitemap.container .pages{
        display:flex;
        justify-content: space-around;
    }
    .sitemap.container .pages p{
        margin: 10px 0;
        font-weight: bold;
        text-align: center;
    }

</style>
<div class="container tf-g--gutter-left sitemap">
    <h3>Site Map for Static HTML File</h3>
    <div class="pages">
        <div class="category">
            <p class="category-title">Core</p>
            <ol>
                <li><a href="./pdp.html">PDP Sample </a></li>
            </ol>
        </div>
    </div>
</div>
