---
title: PDP
type: page
layout: pdp
description: Genereal vue framework
sortOrder: 0
---
<script language="javascript" type="text/javascript"  src="//s7d9.scene7.com/s7viewers/html5/js/FlyoutViewer.js"></script>
<div class="wrapper pdp-page">
    <div class="pdp">
        <div id="productPreview"></div>
        <div class="pdp-details">
            <h1>Product name</h1>
            <strong>Product description </strong>
            <p>As experts in all matters of the heart, ___ is at your service from start to finish. We’re pleased to assist you every step of the way, beginning with the perfect engagement ring.</p>
            <br/>
            <strong>Specifications</strong>
            <ul>
                <li>The burn time of the candle is between 60 and 70 hours</li>
                <li>Glass</li>
                <li>3.7\" high</li>
                <li>Net weight 9.52 ounces/270 grams</li>
            </ul>
            <div id="quantity"></div>
            <div id="addtocart"></div>
        </div>
    </div>
</div>
