<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="{{description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <link rel="stylesheet" href="./css/bundle.components.css">
    <link rel="stylesheet" href="./css/bundle.globalStyles.css">
    <link rel="stylesheet" href="./css/bundle.cmsComponents.css"> --}}
    <link rel="stylesheet" href="./css/bundle.vueApp.css">
    

     <!-- <link rel="stylesheet" href="./css/components.css">  -->
     
</head>

<body data-comp-prefix="app-js__" class="visual-spacing">
    <a href="#main" class="hide-from__screen skipToMain">Skip to main content</a>
    <div class="page-wrap">
        {{> header }}
        <main id="main" tabindex="-1" class="main-content">
            {% body %}
        </main>
        {{> footer }}
    </div>


    <!-- <script src="//assets.adobedtm.com/launch-EN423c850b3a2c40aabda1d033b524b71b-development.min.js"></script> -->
    {{!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=SRQNpAIhR0i9M9sY3VjBsQBlSG5feRHO"></script> --}}
    
    <script src="./js/bundle.vendor.js"></script>
    <script src="./js/bundle.components.js"></script>
    <script src="./js/bundle.vueApp.js"></script>

</body>
</html>
